.dart_tool/
build/
node_modules/
.expo/
.hvigor/
.idea/
.vscode/
**/local.properties
**/signing-config.json
.next/
*.tsbuildinfo
.env
.env.local
ios/
android/
**/GoogleService-Info.plist
**/google-services.json
!**/google-services.json
